@page
@model Blackjack.Pages.Game.GameBoardModel
@{
}
<div id="GameBoard">
    <div id="RiverContainer">
        <div id="River">

        </div>
    </div>
    <div id="DealerHandContainer">
        <div id="DealerHand"></div>
    </div>
    <div id="PlayerHandContainer">
        <div id="PlayerHand"></div>
    </div>
    <div id="PlayerActionsContainer">
        <div id="HitBtnContainer">
            <button class="PlayerActionButton" formmethod="post" asp-controller="Game" asp-action="PlayerHit">Hit</button>
        </div>
        <div id="StandBtnContainer">
            <button class="PlayerActionButton" formmethod="post" asp-controller="Game" asp-action="PlayerStand">Stand</button>
        </div>
        <div id="FoldBtnContainer"></div>
    </div>
</div>