@page
@model Blackjack.Pages.Game.GameBoardModel
@{
}
<div id="GameBoard">
    <div id="RiverContainer">
        <div id="River">

        </div>
    </div>
    <div id="DealerHandContainer">
        <div id="DealerHand"></div>
    </div>
    <div id="PlayerHandContainer">
        <div id="PlayerHand"></div>
    </div>
    <div id="PlayerActionsContainer">
        <div id="HitBtnContainer"></div>
        <div id="StandBtnContainer"></div>
        <div id="FoldBtnContainer"></div>
    </div>
</div>